head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    link(href="/css/common.css",rel="stylesheet")
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/postPersonalLine.js")